/Command/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Command/obj/Debug/net6.0/apphost
/Command/bin/Debug/net6.0/Command
/Command/obj/Debug/net6.0/Command.AssemblyInfo.cs
/Command/obj/Debug/net6.0/Command.AssemblyInfoInputs.cache
/Command/obj/Debug/net6.0/Command.assets.cache
/Command/Command.csproj
/Command/obj/Debug/net6.0/Command.csproj.AssemblyReference.cache
/Command/obj/Debug/net6.0/Command.csproj.CoreCompileInputs.cache
/Command/obj/Debug/net6.0/Command.csproj.FileListAbsolute.txt
/Command/obj/Command.csproj.nuget.dgspec.json
/Command/obj/Command.csproj.nuget.g.props
/Command/obj/Command.csproj.nuget.g.targets
/Command/bin/Debug/net6.0/Command.deps.json
/Command/bin/Debug/net6.0/Command.dll
/Command/obj/Debug/net6.0/ref/Command.dll
/Command/obj/Debug/net6.0/refint/Command.dll
/Command/obj/Debug/net6.0/Command.dll
/Command/obj/Debug/net6.0/Command.GeneratedMSBuildEditorConfig.editorconfig
/Command/obj/Debug/net6.0/Command.genruntimeconfig.cache
/Command/obj/Debug/net6.0/Command.GlobalUsings.g.cs
/Command/bin/Debug/net6.0/Command.pdb
/Command/obj/Debug/net6.0/Command.pdb
/Command/bin/Debug/net6.0/Command.runtimeconfig.json
/Command/Program.cs
/Command/obj/project.assets.json
/Command/obj/project.nuget.cache
/Command/obj/project.packagespec.json
/Command/obj/rider.project.restore.info
